<div class="shadow-sm border rounded bg-white">
    <div class="p-4">
        {{ form_start(form) }}

        <div class="row mb-3">
            <div class="col-6">
                {{ form_label(form.codigo, 'Código do animal *', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.codigo, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-6">
                {{ form_label(form.peso, 'Peso do animal *', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.peso, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-6">
                {{ form_label(form.racao, 'Consumo de ração *', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.racao, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-6">
                {{ form_label(form.leite, 'Produção de leite *', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.leite, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-4">
                {{ form_label(form.nascimento, 'Nascimento', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.nascimento, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-4">
                {{ form_label(form.abate, 'abate', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.abate, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-4">
                {{ form_label(form.fazenda, 'Fazenda', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.fazenda, {'attr': {'class': 'form-select'}}) }}
            </div>
        </div>

        <div class="d-flex justify-content-end gap-2">
            <button class="btn btn-primary">{{ button_label|default('Salvar') }}</button>
            <a class="btn btn-secondary" href="{{ path('app_gado_index') }}">Voltar</a>
        </div>

        {{ form_end(form) }}
    </div>
</div>
