{% extends 'base.html.twig' %}

{% block title %}Fazenda{% endblock %}

{% block body %}
    <h1>Fazenda</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fazenda.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ fazenda.nome }}</td>
            </tr>
            <tr>
                <th>Tamanho</th>
                <td>{{ fazenda.tamanho }}</td>
            </tr>
            <tr>
                <th>Responsavel</th>
                <td>{{ fazenda.responsavel }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_fazenda_index') }}">back to list</a>

    <a href="{{ path('app_fazenda_edit', {'id': fazenda.id}) }}">edit</a>

    {{ include('fazenda/_delete_form.html.twig') }}
{% endblock %}
