{% extends 'base.html.twig' %}

{% block title %}Veterinario index{% endblock %}

{% block body %}
    <h1>Veterinario index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Crmv</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for veterinario in veterinarios %}
            <tr>
                <td>{{ veterinario.id }}</td>
                <td>{{ veterinario.nome }}</td>
                <td>{{ veterinario.crmv }}</td>
                <td>
                    <a href="{{ path('app_veterinario_show', {'id': veterinario.id}) }}">show</a>
                    <a href="{{ path('app_veterinario_edit', {'id': veterinario.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_veterinario_new') }}">Create new</a>
{% endblock %}
