{% extends 'base.html.twig' %}

{% block body %}

    <section class="fz-veterinario">
        <div class="container">

            <div class="fz-container-titulo justify-content-between">
                <h5 class="fz-titulo">Veterinários</h5>
                <a href="{{ path('app_veterinario_novo') }}" class="btn btn-success text-white">
                    <i class="fa-solid fa-plus"></i> Cadastrar
                </a>
            </div>

            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <div class="table-responsive">

                        <table class="table table-striped table-hover align-middle">
                            <thead class="table-light">
                            <tr class="text-center">
                                <th>ID</th>
                                <th>Nome</th>
                                <th>CRMV</th>
                                <th>Ações</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% if pagination|length > 0 %}
                                {% for veterinario in pagination %}
                                    <tr class="text-center">
                                        <td>{{ veterinario.id }}</td>
                                        <td>{{ veterinario.nome }}</td>
                                        <td>{{ veterinario.crmv }}</td>
                                        <td>
                                            <a href="{{ path('app_veterinario_show', {'id': veterinario.id}) }}" class="btn btn-info text-white">Visualizar</a>
                                            <a href="{{ path('app_veterinario_edit', {'id': veterinario.id}) }}" class="btn btn-warning">Editar</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="4" class="text-center text-muted">Nenhum veterinário encontrado.</td>
                                </tr>
                            {% endif %}
                            </tbody>

                        </table>

                    <div class="d-flex justify-content-center">
                        {{ knp_pagination_render(pagination) }}
                    </div>

                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}
